.descriptionSection {
  background-color: $black-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dotAnimation {
  display: inline-block;
  white-space: nowrap;

  animation-name: scrollingAnimation;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 1ms;
  
  animation-timeline: scroll(root block);
  animation-range: 0% 100%;
}

@keyframes scrollingAnimation {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
  }
}
