.button {
  --color: $black-color;
  --hover-color: $red-color;
  --width: auto;
  --padding: "0.3vw";

  font-family: 'Moscow Sans';
  font-weight: 200;
  font-size: 1vw;
  user-select: none;
  color: var(--color);

  width: var(--width);

  background-color: transparent;
  border: solid var(--color) 0.1vw;
  border-radius: 5vw;
  padding: var(--padding);

  &:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
  }

  cursor: pointer;
  transition: all 0.3s ease;
}