.tasks {
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasksSection {
  align-self: self-start;
  padding-left: 7vw;
}

.tasksBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin: 1vw 0 3vw;

  & a {
    width: fit-content;
  }
}

.selectBlock {
  width: 75.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vw;

  & div {
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 3vw;
  }
}