.startQuest {
  background-image: url('/images/blured-newspapers.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  min-height: 100vh;
  position: relative;
}

.sqlText {
  display: block;
  margin: 4.5vw 0 0 3.5vw;
}
