.menu {
  position: fixed;
  top: 1vw;
  right: 1vw;
  width: 3vw;
  height: 1.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;

  & > div {
    width: 100%;
    height: 20%;
    background-color: currentColor;
    transition: all 0.3s ease;
  }

  &:hover > div:nth-child(2) {
    width: 60%;
  }
}