.mainLine {
  background-color: $gray-light-color;
  width: 100%;
  height: 0.5vw;
  position: relative;
}

.solvedLine {
  background-color: $red-light-color;
  width: var(--width, 0);
  height: 0.5vw;
  position: absolute;
  top: 0;
  left: 0;
}