.ratingSection {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-top: 2vw;
  margin-right: 1vw;
  margin-bottom: 5vw;
  width: 85.3vw;
  height: 20vw;
  background-image: url('/images/rating-image.png');
  background-size: 110%;
  background-position: top 75% center;
  background-repeat: no-repeat;
}
