.legendContainer {
  position: absolute;
  top: 70%;

  width: 80%;
  min-height: 5%;

  border: $black-color solid 0.1vw;
  cursor: pointer;
}

.cursor {
  display: inline-block;
}

.cursorBlink {
  margin-left: 0.2vw;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  margin-left: 0.2vw;
}