.profile {
  background-color: $red-color;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-left: 20vw;
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  gap: 1vw;

  margin-left: -0.8vw;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}