.link {
  font-family: 'Moscow Sans';
  font-weight: 400;
  color: $black-color;
  user-select: none;
  text-decoration: none;

  &:hover {
    color: $red-color;
    text-decoration: underline;
  }

  transition: color 0.3s ease;
}