.link {
  font-family: var(--fontVariant, 'Moscow Sans');
  font-weight: 400;
  color: var(--link-color, $black-color);
  user-select: none;
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color, $red-color);
    text-decoration: underline;
  }

  transition: color 0.3s ease;
}