.link {
  font-family: var(--fontVariant, 'Moscow Sans');
  font-weight: 400;
  color: var(--link-color, $black-color);
  user-select: none;
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color, $red-color);
    text-decoration: underline;
  }

  transition: color 0.3s ease;
}

.buttonVariant {
  background-color: transparent;
  border: solid $black-color 0.1vw;
  border-radius: 5vw;
  
  padding: 0.5vw 1.8vw 0.6vw;

  &:hover {
    color: $red-color;
    border-color: $red-color;
    text-decoration: none;
  }
}