.startGuideSection {
  background-color: $red-color;
  min-height: 100vh;
}

.textDescription {
  width: 51vw;
  margin: 8vw 0 0 2vw;
}

.textCluesTitle {
  margin: 8vw 0 0 30vw;
}

.textClues {
  margin: 3vw 0 0 30vw;
  display: flex;
  flex-direction: column;
  line-height: 2vw;

  span {
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
  }
}

.textScoreTitle {
  padding: 10vw 0 0 2vw
}

.textScore {
  display: flex;
  flex-direction: column;
  line-height: 2vw;
  margin: 3vw 0 0 2vw;
}

.codeBlock {
  margin: 6vw 0 8vw
}

.exampleCode {
  span {
    user-select: none;
  }
}

.textScrolling {
  display: inline-block;
  white-space: nowrap;

  animation-name: scrollingAnimation;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 1ms;
  
  animation-timeline: scroll(root block);
}

@keyframes scrollingAnimation {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-20vw);
  }
}
