.image {
  --imageHref: "";

  height: 25vw;
  width: 35vw;

  background-image: var(--imageHref);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 5vw;

  filter: saturate(0) brightness(1.2) contrast(1.2);
  transition: all 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    transform: scale(1.005);
    box-shadow: 0 0 1vw #6b6b6b;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
  box-shadow: none;
  transform: none;

  overflow: hidden;

  &::before { //TODO: change to more prettier view
    content: "пройдено";
    color: white;

    position: absolute;
    top: 30%;

    transform: rotate(-35deg);

    font-size: 7vw;
    font-family: 'Moscow Sans';
    letter-spacing: 0.2vw;
  }
}