@use "sass:color";

.tableWrapper {
  --height: 100%;

  max-height: var(--height);
  overflow-y: auto;
}

.table {
  font-family: 'Moscow Sans';
  font-weight: 200;
  font-size: 1vw;
  color: $black-color;

  width: 100%;

  & td {
    text-align: start;
    padding: 0.5vw 0.5vw;
  }

  tbody {
    & tr {
      transition: background-color 0.3s ease;
    }

    & tr:nth-of-type(2n + 1) {
      background-color: $gray-light-color;
    }

    & tr:hover {
      background-color: color.mix(white, $red-light-color, 40%);
    }  
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;

  & th {
    text-align: start;
    padding: 1vw 0.5vw;
  }
}