.menuDrawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;

  width: 25vw;
  height: 100vh;
  background-color: white;

  padding: 2.3vw 1.5vw;

  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.open {
    opacity: 1;
    transform: translateX(0);
  }
}

.linksBlock{
  display: flex;
  flex-direction: column;
  gap: 1vw;

  margin-top: 3vw;

  a {
    width: fit-content;
  }
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0.5vw;
  padding: 0;

  font-family: 'Moscow Sans';
  font-weight: 200;
  user-select: none;
  line-height: 2vw;
  font-size: 2.5vw;
  color: $black-color;

  border: none;
  background: none;
  cursor: pointer;
}