.login {
  background-color: white;
  position: relative;
  min-height: 100vh;
}

.register {
  background-color: $red-color;
  position: relative;
  min-height: 100vh;
}

.menu {
  position: absolute;
  top: 2vw;
  right: 2vw;
}